:root {
  font-size: 16px;
  --bg-primary: #FAFAFA;
  --bg-secondary: #EBEBEB;
  --color-primary: #000000;
  --color-secondary: #878787;
  --border-radius: "10px";
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--color-primary);
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.full-width {
  width: 100%;
}

.container {
  width: 90%;
  margin: 0px auto;
}

.centered {
  margin: 0px auto;
}



/* Nav */

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 1rem;
}

nav div:nth-of-child(3n+2), nav div:nth-of-child(3n) {
  text-align: center;
}

nav.navbar {
  
}

nav ul.nav {
  
}

